.intro.cb6{
    margin-bottom: 45px;
}
.intro.cb11 p{
    margin-bottom: 0px;
}
.impact.cb6 img{
    margin-bottom: 0px;
}
#lastImpactImg{
    margin-bottom: 40px;
}
.consequences.cb3{
    margin-bottom: 40px;
}
.risks.cb7 .paragraph, .risks.cb7 .unorderedList{
    margin-bottom: 0px;
}
.consequences.cb5 .unorderedList{
    margin-top: -27px;
    margin-bottom: 0px;
}
.formalize.cb6{
    margin-bottom: 40px;
}
.unorderedList.takeaways{
    margin-bottom: 40px;
}